Google Translate
pip install googletrans==3.1.0a0

Threading
pip install continuous_threading

Google Text To Speech
pip install gtts

MP3 control
pip install mutagen

Sound Module
pip install playsound

Media Processor
pip install pyglet

Google Speech-to-Text
pip install SpeechRecognition

GUI
pip install PyQt5 || sudo apt-get install python3-pyqt5

Microphone
sudo apt-get install libportaudio-dev
sudo apt-get install portaudio19-dev
pip install pyaudio

Optional
sudo apt-get install qt5-default
sudo apt-get install qtcreator
sudo apt-get install font-manager


Run All
sudo pip install googletrans==3.1.0a0
sudo pip install continuous_threading
sudo pip install gtts
sudo pip install mutagen
sudo pip install playsound
sudo pip install pyglet
sudo pip install SpeechRecognition
sudo apt-get install python3-pyqt5
sudo apt-get install libportaudio-dev
sudo apt-get install portaudio19-dev
sudo pip install pyaudio


sudo apt-get install qt5-default
sudo apt-get install qtcreator
sudo apt-get install font-manager

